@import "../components/index";

html,
body {
  background-color: #fbfbf8;
  height: 100%;
}

.main-container {
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-image: url('/landing-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


header,
main {
  flex: 1;
}

a {
  text-shadow: none;
}

nav {
  position: fixed;
  top: 2vh;
  left: 0;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 1rem;
  }
}

.content-wrapper {
  position: relative;
  overflow: auto;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  padding: 0 1rem;
  box-shadow: -1px 0px 20px 20px rgba(255, 255, 255, 0.5);
}

@media (min-width:769px) {
  nav {
    left: 2vw;
    top: 20vh;
    text-align: left;
  }

  main {
    flex: 4;
  }

  .main-container {
    padding: 2rem;
    flex-direction: row;
    align-items: flex-start
  }

  nav li {
    display: block;
    margin-right: 0;
  }
  
  .content-wrapper{
    position: relative;
    overflow: auto;
    height: auto;
    background: initial;
    width: auto;
    padding: 0;
    box-shadow: initial;
  }
  
}